
<div class="divider">
    <h3><strong>Heading </strong> Size</h3>
    <label class="color">default style <em><strong>h1 , h2 , h3 , h5 , h6</strong></em></label>
</div>

<hr>

<div class="row">
    <div class="col-sm-6">
        <p></p><h1>h1 Heading 1</h1><p></p>
        <p></p><h2>h2 Heading 2</h2><p></p>
        <p></p><h3>h3 Heading 3</h3><p></p>
        <p></p><h4>h4 Heading 4</h4><p></p>
        <p></p><h5>h5 Heading 5</h5><p></p>
        <p></p><h6>h6 Heading 6</h6><p></p>
    </div>
    <!-- //col-sm-6 -->
    <div class="col-sm-6">
        <p></p><h1><strong>h1 Heading 1</strong></h1><p></p>
        <p></p><h2><strong>h2 Heading 2</strong></h2><p></p>
        <p></p><h3><strong>h3 Heading 3</strong></h3><p></p>
        <p></p><h4><strong>h4 Heading 4</strong></h4><p></p>
        <p></p><h5><strong>h5 Heading 5</strong></h5><p></p>
        <p></p><h6><strong>h6 Heading 6</strong></h6><p></p>
    </div>
    <!-- //col-sm-6 -->
</div>

<hr>

<div class="divider">
    <h3><strong>List </strong> Style</h3>
    <label class="color">ul has class <em><strong>list-item angle , arrow , circle ,check</strong></em></label>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <p><strong>List stlye angle</strong></p>
        <ul class="list-item angle">
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>
    </div>
    <!-- //col-md-3 -->

    <div class="col-md-3 col-sm-6">
        <p><strong>List stlye arrow</strong></p>
        <ul class="list-item arrow">
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>
    </div>
    <!-- //col-md-3 -->

    <div class="col-md-3 col-sm-6">
        <p><strong>List stlye circle</strong></p>
        <ul class="list-item circle">
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>
    </div>
    <!-- //col-md-3 -->

    <div class="col-md-3 col-sm-6">
        <p><strong>List stlye check</strong></p>
        <ul class="list-item check">
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>
    </div>
    <!-- //col-md-3 -->
</div>
<!-- //row-->

<hr>

<div class="divider">
    <h3><strong>pre </strong> Code</h3>
    <label class="color">pre or code has class <em><strong>prettyprint lang-html , css , js , java , and Other</strong></em></label>
</div>

<div class="code">
    <h4>Html Code</h4>

    <pre class="prettyprint lang-html"><span class="dec">&lt;!doctype html&gt;</span><span class="pln">
    </span><span class="tag">&lt;html</span><span class="pln"> </span><span class="atn">lang</span><span class="pun">=</span><span class="atv">"en"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;head&gt;</span><span class="pln">
    </span><span class="tag">&lt;meta</span><span class="pln"> </span><span class="atn">charset</span><span class="pun">=</span><span class="atv">"utf-8"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;title&gt;&lt;/title&gt;</span><span class="pln">
    </span><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"css/style.css"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;/head&gt;</span><span class="pln">
    </span><span class="tag">&lt;body&gt;</span><span class="pln">
    </span><span class="tag">&lt;header&gt;&lt;/header&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">role</span><span class="pun">=</span><span class="atv">"main"</span><span class="tag">&gt;&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;footer&gt;&lt;/footer&gt;</span><span class="pln">
    </span><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"js/script.js"</span><span class="tag">&gt;&lt;/script&gt;</span><span class="pln">
    </span><span class="tag">&lt;/body&gt;</span><span class="pln">
    </span><span class="tag">&lt;/html&gt;</span></pre>

    <h4>Css Code</h4>

    <pre class="prettyprint lang-css"><span class="pln">body </span><span class="pun">{</span><span class="pln">
    margin</span><span class="pun">:</span><span class="pln"> </span><span class="lit">0</span><span class="pun">;</span><span class="pln">
    font</span><span class="pun">-</span><span class="pln">family</span><span class="pun">:</span><span class="pln"> </span><span class="str">"Helvetica Neue"</span><span class="pun">,</span><span class="pln"> </span><span class="typ">Helvetica</span><span class="pun">,</span><span class="pln"> </span><span class="typ">Arial</span><span class="pun">,</span><span class="pln"> sans</span><span class="pun">-</span><span class="pln">serif</span><span class="pun">;</span><span class="pln">
    font</span><span class="pun">-</span><span class="pln">size</span><span class="pun">:</span><span class="pln"> </span><span class="lit">13px</span><span class="pun">;</span><span class="pln">
    line</span><span class="pun">-</span><span class="pln">height</span><span class="pun">:</span><span class="pln"> </span><span class="lit">18px</span><span class="pun">;</span><span class="pln">
    color</span><span class="pun">:</span><span class="pln"> </span><span class="com">#333333;</span><span class="pln">
    background</span><span class="pun">-</span><span class="pln">color</span><span class="pun">:</span><span class="pln"> </span><span class="com">#ffffff;</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">

    a </span><span class="pun">{</span><span class="pln">
    color</span><span class="pun">:</span><span class="pln"> </span><span class="com">#0088cc;</span><span class="pln">
    text</span><span class="pun">-</span><span class="pln">decoration</span><span class="pun">:</span><span class="pln"> none</span><span class="pun">;</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">

    a</span><span class="pun">:</span><span class="pln">hover </span><span class="pun">{</span><span class="pln">
    color</span><span class="pun">:</span><span class="pln"> </span><span class="com">#005580;</span><span class="pln">
    text</span><span class="pun">-</span><span class="pln">decoration</span><span class="pun">:</span><span class="pln"> underline</span><span class="pun">;</span><span class="pln">
    </span><span class="pun">}</span></pre>

    <h4>Java script Code</h4>

    <pre class="prettyprint lang-js"><span class="kwd">var</span><span class="pln"> </span><span class="typ">Account</span><span class="pun">;</span><span class="pln">

    </span><span class="typ">Account</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">function</span><span class="pun">(</span><span class="pln">customer</span><span class="pun">,</span><span class="pln"> cart</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">var</span><span class="pln"> _this </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">this</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="pln">customer </span><span class="pun">=</span><span class="pln"> customer</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="pln">cart </span><span class="pun">=</span><span class="pln"> cart</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">return</span><span class="pln"> $</span><span class="pun">(</span><span class="str">'.shopping_cart'</span><span class="pun">).</span><span class="pln">bind</span><span class="pun">(</span><span class="str">'click'</span><span class="pun">,</span><span class="pln"> </span><span class="kwd">function</span><span class="pun">(</span><span class="pln">event</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">return</span><span class="pln"> _this</span><span class="pun">.</span><span class="pln">customer</span><span class="pun">.</span><span class="pln">purchase</span><span class="pun">(</span><span class="pln">_this</span><span class="pun">.</span><span class="pln">cart</span><span class="pun">);</span><span class="pln">
    </span><span class="pun">});</span><span class="pln">
    </span><span class="pun">};</span></pre>
</div>