<form id="login" class="form-signin">

    <h2 class="form-signin__heading">Вход</h2>

    <div class="form-signin__wrap">

        <div class="form-signin__user-info">
            <input name="email" type="text" class="form-control" placeholder="Логин" value="{{email}}" required>
            <input name="password" type="password" class="form-control" placeholder="Пароль" value="{{password}}" required>
            <span class="help-block hide">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>

        <div class="checkbox">
            <span class="pull-right">
                <a data-toggle="modal" href="#myModal"> Забыли пароль?</a>
            </span>
        </div>

        <button class="btn btn-lg btn-login btn-block" type="submit">Отправить</button>

    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Забыли пароль ?</h4>
                </div>
                <div class="modal-body">
                    <p>Введите ваш логин чтобы сменить пароль.</p>
                    <input type="text" name="email" placeholder="Логин" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Отмена</button>
                    <button class="btn btn-remind btn-success" type="button">Отправить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

</form>