
<section id="wrapper" class="wrapper">

    <section id="sidebar" class="sidebar">

        <div id="avatar-block" class="avatar-block">

            <span class="avatar-block__image">
                <img alt="" src="assets/img/avatar.jpg" class="circle">
            </span>

            <div class="avatar-block__detail">
                <p><strong>Hi</strong>, Maxim</p>
                <p><a href="#/profile">Profile</a></p>
            </div>

            <div class="avatar-block__links btn-group btn-group-justified">
                <a class="btn" href="profile.html" title="Portfolio"><i class="fa fa-briefcase"></i></a>
                <a class="btn" data-toggle="modal" href="#md-notification" title="Notification">
                    <i class="fa fa-bell-o"></i><em class="green"></em>
                </a>
                <a class="btn" data-toggle="modal" href="#md-messages" title="Messages">
                    <i class="fa fa-envelope-o"></i><em class="active"></em>
                </a>
                <a class="btn" href="#menu-right" title="Contact List"><i class="fa fa-book"></i></a>
            </div>

        </div>

        <nav role="navigation" id="navigation" class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item navigation__item--active">
                    <a class="navigation__link" role="nav-main" href="#/">
                        <i class="fa fa-th navigation__link__icon"></i>
                        <span class="navigation__link__title">Typography</span>
                        <span class="navigation__link__expand"></span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" role="nav-main" href="#/form">Form</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" role="nav-main" href="#/table">Table</a>
                </li>
            </ul>
        </nav>

    </section>

    <header role="header" id="header" class="header">

        <div class="header__logo clearfix">
            <a href="#/" class="header__logo__link"></a>
        </div>

        <div class="header__bar">
            <ul class="nav navbar-nav nav-main-xs">
                <li><a href="#" class="icon-toolsbar navbar-toggler"><i class="fa fa-bars"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right tooltip-area">
                <li><a href="#menu-right" data-toggle="tooltip" title="" data-container="body" data-placement="left" data-original-title="Right Menu"><i class="fa fa-align-right"></i></a></li>
                <li class="hidden-xs hidden-sm"><a href="#/help" class="h-seperate">Help</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <em><strong>Hi</strong>, Maxim </em> <i class="dropdown-icon fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right icon-right arrow">
                        <li><a href="#/profile"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Setting </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Signout </a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </header>

    <section id="page" class="page">

        <ol id="breadcrumb" class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Table</a></li>
            <li class="active">Data Table</li>
        </ol>

        <div id="content" class="content">



        </div>

    </section>

</section>