<section class="panel">

    <header id="page-header" class="panel-heading"></header>

    {{#if tools}}
    <div id="page-tools" class="panel-tools fully color" align="right" data-toolscolor="theme-inverse">
        <ul class="tooltip-area">
            {{#if tools.collapse}}
            <li><a href="javascript:void(0)" class="btn btn-collapse" data-target="collapse" title="" data-original-title="Collapse"><i class="fa fa-caret-square-o-up"></i></a></li>
            {{/if}}

            {{#if tools.reload}}
            <li><a href="javascript:void(0)" class="btn btn-reload" data-target="reload" title="" data-original-title="Reload"><i class="fa fa-refresh"></i></a></li>
            {{/if}}

            {{#if tools.close}}
            <li><a href="javascript:void(0)" class="btn btn-close" data-target="close" title="" data-original-title="Close"><i class="fa fa-times"></i></a></li>
            {{/if}}

            {{#if tools.new}}
            <li><a href="javascript:void(0)" class="btn btn-new" data-target="new" title="" data-original-title="New"><i class="fa fa-plus"></i></a></li>
            {{/if}}

            {{#if tools.edit}}
            <li><a href="javascript:void(0)" class="btn btn-edit" data-target="edit" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a></li>
            {{/if}}

            {{#if tools.trash}}
            <li><a href="javascript:void(0)" class="btn btn-trash" data-target="trash" title="" data-original-title="Trash"><i class="fa fa-trash-o"></i></a></li>
            {{/if}}
        </ul>
    </div>
    {{/if}}

    <div id="page-content" class="panel-body"></div>

    <div class="page__flip"></div>

</section>